.footer
	padding 3.5px 15px
	font-size 11px
	color $customwhite1
	background-color #343434
	a
		color $customwhite1
	&__content
		p
			margin 0
			padding 7px 0 !important
			font-size 11px
		ul
			margin 0
			padding 0
			li
				list-style none
				display inline-block
				margin-right 20px
				&:last-child
					margin 0
			a
				font-size 19px
				color $customwhite1
		@media mqmobile-md
			text-align center
		