.navbar
	transition(.2s all ease-in-out)
	background-color #343434
	border 0
	@media screen and (min-width 970px)
		background-color transparent
	.container
		max-width 780px
		padding 0 15px
	&-brand
		display block
		height 100%
		padding 14px 15px
	@media screen and (max-width 969px)
		.navbar-header
			float none
		.navbar-left,
		.navbar-right
			float none !important
		.navbar-toggle
			display block
			margin-top 17px
		.navbar-collapse
			transition(.5s all ease-in-out)
			border-top 1px solid transparent
			box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
			max-height 400px
		.navbar-fixed-top
			top 0
			border-width 0 0 1px
		.navbar-collapse.collapse
			display none!important
		.navbar-nav
			float none!important
			margin-top 7.5px
		.navbar-nav>li
			float none
		.collapse.in
			display:block !important
.navbar-default
	.navbar-toggle .icon-bar
		background-color #FFF
	.navbar-nav
		padding 0 25px
		li
			a 
				transition(.2s all ease-in-out)
				font-size 12px
				text-transform uppercase
				color #FFF
				padding 5px 10px
				&:focus
				&:hover
					color #FFF
					background-color darken(#343434, 20%)
				@media screen and (min-width 970px)
					padding 25px 10px
		.open
			a
				padding 15px 10px
				color #FFF !important
				background-color darken(#343434, 20%)
				&:hover
				&:focus
					background-color lighten(#343434, 10%)
				&.button
					padding 3px 10px
				
		.active
			a 
				color #FFF
				background-color transparent
				&:focus
				&:hover
					color #FFF
					background-color darken(#343434, 20%)
	.dropdown-menu
		background-color #343434
