.landingpage
	.carousel .carousel-inner .item
		background-image url('../img/slider2.jpg')
	#mod-contTo-1
		background-image url('../img/bg-contador2.jpg')
	.section-n2
		background-image none
		background-color $customblue1
		color $customwhite1
		&-newsletter .content
			padding 20px 0
	.section-n4,
	.section-n5
		background-color $customblue2
		border-color $customblue1
		h1
			color $customwhite1
	.footer__contact
		background-color $customblue2
	.footer__credits
		background-color $customblue1
.website
	.carousel .carousel-inner .item
		background-image url('../img/slider3.jpg')
.blogs
	.carousel .carousel-inner .item
		background-image url('../img/slider4.jpg')
	#mod-contTo-1
		background-image none
		background-color #1f0e40
		.iconsCount
			color #c2d331
	.section-n2
		background-image none
		background-color #312e35
		color $customwhite1
	.section-n4,
	.section-n5
		background-color #1f0e40
		border-color #7D38FF
		h1
			color $customwhite1
		h2
			color #d6d6d6
	.footer__contact
		background-color #1F0E40
		color $customwhite1
	.footer__credits
		background-color #3E1C7F
	.mod_tabnav2 hr
		border-color #7D38FF