*
	-webkit-font-smoothing  antialiased
	-moz-osx-font-smoothing grayscale

// Font
@font-face
	font-family 'allerbold'
	src url('../font/Aller/aller_bd-webfont.woff2') format('woff2'),
	url('../font/Aller/aller_bd-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'aller_lightregular'
	src url('../font/Aller/aller_lt-webfont.woff2') format('woff2'),
	url('../font/Aller/aller_lt-webfont.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'allerregular'
	src url('../font/Aller/aller_rg-webfont.woff2') format('woff2'),
	url('../font/Aller/aller_rg-webfont.woff') format('woff')
	font-weight normal
	font-style normal
    
ul
	margin  0
	padding 0
	li
		margin     0
		padding    0
		list-style none
a
	font-weight 400
	&:hover,
	&:focus,
	&:active
		text-decoration none
h1
	margin 0
	font-size 1em
	font-weight 700
h2
	font-size 1em
	font-weight 400
p 
	font-size .9em
	line-height 1.2
	padding 20px 0
	
body, html
	@extend .font-normal
	font-size 16px
	margin 0
	padding 0
section
	position relative
.ui-loader
	height 0
	overflow hidden
strong
	font-weight 700

object
	display none